.trainer-stats {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.trainer-data {
  color: navy;
}

.pokedex {
  display: grid;
  grid-template-rows: 132px;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  overflow: auto;
  height: 33vh;
}

.pokeball {
  margin: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: .6rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}