.pokemon-arrows {
  display: flex;
  align-items: center;
  color: #555;
}

.pokemon-header {
  font-size: .8rem;
  margin-bottom: .6rem;
}

.pokemon-body {
  color: #555;
  font-size: .8rem;
}

// basics
.pokemon-type {
  font-size: .7rem;
  color: white;
  margin-top: .5rem;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

// stats
.status {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.status-bar {
  height: 16px;
  border-radius: 8px;
  background: cornflowerblue;
  box-shadow: inset 1px 1px 3px 6px midnightblue;
}

.status-outline {
  height: 16px;
  border-radius: 8px;
  width: 65%;
  box-shadow: inset 1px 1px 3px dimgray;
}