@import '../../stylesheets/partials/colors';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_variables.scss';

.wrapper {
  margin: 0 auto;
  max-width: 750px;
  min-width: 300px;
}

.case {
  border: 11px inset; 
  height: $case-height;
  position: relative;
  transition: top 1s;
  z-index: 10;
}

.case-top {
  align-items: flex-end;
  background: red;
  border-color: $red;
  border-radius: 30px 30px 0px 0px;
  border-bottom: 0;
  display: flex;
}

.case-bottom {
  background: white;
  border-color: lightgray;
  border-radius: 0px 0px 30px 30px; 
  border-top: 0;
}

.circle-black {
  @include box(black, $large-circle, $large-circle/2);
  border: 10px solid white;
  margin: 0 auto;
}

.circle-blue {
  @include box($light-blue, $small-circle, $small-circle/2);
  border: 13px inset white;
  margin: 0 auto;
}

.top-outer {
  align-items: flex-end;
  border-top-left-radius: $large-circle;
  border-top-right-radius: $large-circle;
  border-bottom: 0;
  display: flex;
}

.top-inner {
  border-top-left-radius: $small-circle;
  border-top-right-radius: $small-circle;
  border-bottom: 0;
}

.bottom-outer {
  border-bottom-left-radius: $large-circle;
  border-bottom-right-radius: $large-circle;
  border-top: 0;
}

.bottom-inner {
  border-bottom-left-radius: $small-circle;
  border-bottom-right-radius: $small-circle;
  border-top: 0;
}