@import '../../stylesheets/partials/_variables.scss';

.main-container {
  width: 90%;
  height: $main-height;
  margin: 0 auto;
  background: rgba(226, 245, 252, 0.6);
  box-shadow: inset 0px 5px 5px 3px #76D1E5;
}

.outer-container {
  height: 100%;
  margin: 0 auto;
  padding: 10px 15px 0 15px;
  box-shadow: inset -1px -8px 30px 6px white;
}