@import '../../stylesheets/partials/_variables.scss';

main {
  background: rgba(226, 245, 252, 0.6);
  box-shadow: inset -1px -8px 30px 6px white;
  height: $main-height;
  margin: 0 auto;
  padding: 0 15px;
  width: 90%;
}